<h1>投稿一覧（新着順）</h1>
<% @lists.each do |list| %>
    <h4>タイトル</h4>
    <%= link_to list.title, list_path(list.id) %>
    <p>画像</p>
    <% if list.image.attached? %>
        <%= image_tag list.image, size: "200x200" %>
    <% else %>
        <%= image_tag "no_image", size: "200x200" %>
    <% end %>
    <h4>本文</h4>
    <%= list.body %>
<% end %>    
